APP_NAME=fastapi-app
DEBUG=true

# 密码中的 @ 必须写成 %40，否则会被当成主机分隔符
DATABASE_URL=mysql+pymysql://root:MyStrongP%40ss123@47.100.188.66:3306/fastapi_app
REDIS_URL=redis://:MyRedisP%40ss123@47.100.188.66:6379/0

ACCESS_TOKEN_EXPIRE_MINUTES=1440
